<div class="modal-header">
  <h4 class="modal-title pull-left">Are you sure you want to delete this book?</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-footer">
  <div style="display: block; margin-right: 15px; text-align: right;">
    <button class="btn btn-secondary"
            (click)="hide()"
            style="margin-right: 10px;">Cancel</button>
    <button class="btn btn-danger"
            (click)="submit()">Delete</button>
  </div>
</div>
