<div class="books-management-container">
  <div style="display: block; text-align: right; margin-bottom: 15px;">
    <button class="btn btn-primary"
            id="createBtn"
            (click)="createBook()">Create</button>
  </div>
  <p-table [value]="books"
           [rows]="10"
           [paginator]="true">
    <ng-template pTemplate="caption">
      List of Books
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 40%;">Title</th>
        <th style="width: 40%;">Author</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-rowIndex="rowIndex"
                 let-dataItem>
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ dataItem.title }}</td>
        <td>{{ dataItem.author }}</td>
        <td>
          <div style="display: block; text-align: center;">
            <button class="btn btn-success btn-sm"
                    style="margin-right: 5px;"
                    (click)="updateBook(dataItem)">Update</button>
            <button class="btn btn-danger btn-sm"
                    (click)="deleteBook(dataItem.id)">Delete</button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
