<div class="container">
  <h3 class=" text-center">Messager</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <!-- <div class="stylish-input-group">
              <p-autoComplete [minLength]="1"
                              field="name"
                              [suggestions]="suggestedUsers"
                              (completeMethod)="searchUsers($event)">
                <ng-template >

                </ng-template>
              </p-autoComplete>
            </div> -->
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list"
               [ngClass]="{'active_chat': i === selectedChat}"
               *ngFor="let history of userMessageHistories; let i = index">
            <div class="chat_people">
              <div class="chat_img">
                <img src="https://ptetutorials.com/images/user-profile.png"
                     alt="sunil">
              </div>
              <div class="chat_ib">
                <h5>
                  <a class="hehe"
                     (click)="selectChat(i)">{{ history.to.name }}</a>
                  <span class="
                   chat_date">{{ history.messages[0].date | date: 'MMM dd'  }}</span>
                </h5>
                <p>{{ history.messages[0].content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div #scrollBottom class="msg_history">
          <div [ngClass]="{'incoming_msg': msg.sender !== user.id, 'outgoing_msg': msg.sender === user.id}"
               *ngFor="let msg of selectedHistory">
            <div class="incoming_msg_img"
                 *ngIf="msg.sender !== user.id">
              <img src="https://ptetutorials.com/images/user-profile.png"
                   alt="sunil">
            </div>
            <div [ngClass]="{'received_msg': msg.sender !== user.id, 'sent_msg': msg.sender === user.id}">
              <div class="received_withd_msg"
                   *ngIf="msg.sender !== user.id">
                <p>{{ msg.content }}</p>
                <span class="time_date">{{ msg.date | date: 'HH:mm a | MMM dd' }}</span>
              </div>
              <p *ngIf="msg.sender === user.id"> {{ msg.content }}</p>
              <span class="time_date"
                    *ngIf="msg.sender === user.id"> {{ msg.date | date: 'HH:mm a | MMM dd' }}</span>
            </div>
          </div>
          <!-- <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                   alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM | Yesterday</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
              <span class="time_date"> 11:01 AM | Today</span>
            </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                   alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>We work directly with our designers and suppliers,
                  and sell direct to you, which means quality, exclusive
                  products, at a price anyone can afford.</p>
                <span class="time_date"> 11:01 AM | Today</span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text"
                   class="write_msg"
                   [(ngModel)]="content"
                   placeholder="Type a message" />
            <button class="msg_send_btn"
                    type="button"
                    (click)="send()">
              <i class="fa fa-paper-plane-o"
                 aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
