<div class="modal-header">
  <h4 class="modal-title pull-left">Create new book</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="createBookForm"
        class="row">
    <div class="col-6">
      <label>Title</label>
      <input type="text"
             class="form-control"
             id="title"
             formControlName="title">
    </div>
    <div class="col-6">
      <label>Author</label>
      <input type="text"
             class="form-control"
             id="author"
             formControlName="author">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div style="display: block; margin-right: 15px; text-align: right;">
    <button class="btn btn-danger"
            (click)="hide()"
            id="cancelBtn"
            style="margin-right: 10px;">Cancel</button>
    <button class="btn btn-success"
            id="createBtn"
            (click)="submit()"
            [disabled]="createBookForm.invalid">Create</button>
  </div>
</div>
