<h1 style="text-align: center;">Z2H Page</h1>
<ul>
  <li>
    <a routerLink="/z2h/books-management">
      <h3>First week: CRUD (books, xstate APPLIED)</h3>
    </a>
  </li>
  <li>
    <a routerLink="/z2h/dragon-slayer">
      <h3>CQRS: Dragon Slayer</h3>
    </a>
  </li>
  <li>
    <a routerLink="/z2h/messenger">
      <h3>Messenger</h3>
    </a>
  </li>
</ul>
