<div class="dragon-slayer-container">
  <div style="display: block; text-align: right; margin-bottom: 15px;">
    <button class="btn btn-secondary"
            routerLink="/z2h/dragon-slayer">BACK</button>
  </div>
  <div style="margin-bottom: 30px;">
    <p-table [value]="hero"
             [rows]="10"
             [paginator]="true">
      <ng-template pTemplate="caption">
        YOUR HERO'S STATISTICS
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Health Points</th>
          <th>Strength</th>
          <th>Golds</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-rowIndex="rowIndex"
                   let-dataItem>
        <tr>
          <td>{{ dataItem.name }}</td>
          <td>{{ dataItem.stats.currentHp }}</td>
          <td>{{ dataItem.stats.strength }}</td>
          <td>{{ dataItem.golds }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div>
      <p-table [value]="dragons"
               [rows]="10"
               [paginator]="true">
        <ng-template pTemplate="caption">
          DRAGONS LIST
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%;">#</th>
            <th>Name</th>
            <th>Health Points</th>
            <th>Strength</th>
            <th style="width: 15%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body"
                     let-rowIndex="rowIndex"
                     let-dataItem>
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ dataItem.name }}</td>
            <td>{{ dataItem.stats.currentHp }}</td>
            <td>{{ dataItem.stats.strength }}</td>
            <td>
              <div style="display: block; text-align: center;">
                <button class="btn btn-danger btn-sm"
                        style="margin-right: 5px;"
                        (click)="fightDragon(dataItem.id)">FIGHT</button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div>
</div>
