<div class="modal-header">
  <h4 class="modal-title pull-left">Login</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="back()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm"
        class="row">
    <div class="col-12">
      <label>Username</label>
      <input type="text"
             class="form-control"
             formControlName="username">
    </div>
    <div class="col-12">
      <label>Password</label>
      <input type="password"
             class="form-control"
             formControlName="password">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div style="display: block; margin-right: 15px; text-align: right;">
    <button class="btn btn-danger"
            (click)="back()"
            id="cancelBtn"
            style="margin-right: 10px;">Back</button>
    <button class="btn btn-success"
            id="createBtn"
            (click)="submit()"
            [disabled]="loginForm.invalid">Login</button>
  </div>
</div>
