<div class="dragon-slayer-container">
  <div style="display: block; text-align: right; margin-bottom: 15px;">
    <button class="btn btn-primary">Create</button>
  </div>
  <p-table [value]="heroes"
           [rows]="10"
           [paginator]="true">
    <ng-template pTemplate="caption">
      Welcome to Dragon Slayer, please select your hero to continue...
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%;">#</th>
        <th>Name</th>
        <th>Health Points</th>
        <th>Strength</th>
        <th>Golds</th>
        <th style="width: 15%;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-rowIndex="rowIndex"
                 let-dataItem>
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ dataItem.name }}</td>
        <td>{{ dataItem.stats.currentHp }}</td>
        <td>{{ dataItem.stats.strength }}</td>
        <td>{{ dataItem.golds }}</td>
        <td>
          <div style="display: block; text-align: center;">
            <button class="btn btn-success btn-sm"
                    style="margin-right: 5px;"
                    routerLink="dragons-board/{{dataItem.id}}">Choose</button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
