<div class="modal-header">
  <h4 class="modal-title pull-left">Update book</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="updateBookForm"
        class="row">
    <div class="col-6">
      <label>Title</label>
      <input type="text"
             class="form-control"
             formControlName="title">
    </div>
    <div class="col-6">
      <label>Author</label>
      <input type="text"
             class="form-control"
             formControlName="author">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div style="display: block; margin-right: 15px; text-align: right;">
    <button class="btn btn-danger"
            (click)="hide()"
            style="margin-right: 10px;">Cancel</button>
    <button class="btn btn-success"
            (click)="submit()"
            [disabled]="updateBookForm.invalid">Update</button>
  </div>
</div>
